<a href="https://colab.research.google.com/github/leeys007/study_pythons/blob/main/codes/02_variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 변수 재사용

In [ ]:
first_string="1"
second_string="0"
third_string="2"
print(first_string, second_string, third_string)

1 0 2

In [ ]:
temp_string=first_string
first_string=second_string
second_string=temp_string
print(first_string, second_string, third_string)

0 1 2

In [ ]:
temp_string=first_string
first_string=third_string
third_string=temp_string
print(first_string, second_string, third_string)

2 1 0

In [ ]:
temp_string=third_string
third_string=second_string
second_string=temp_string
print(first_string, second_string, third_string)

2 0 1

## 외부 값 입력

### 변수 값 종류 확인

In [ ]:
first = 'first_value'
second = '5'
third = 3
print_string = f'first : {first}, second : {second}, third : {third}'
print(print_string)

first : first_value, second : 5, third : 3

In [ ]:
# second + third
# type(5), type('5'), type(4.5)
print_string = f'first : {first}-{type(first)}, second : {second}-{type(second)}, third : {third}-{type(third)}'
print(print_string)

first : first_value-<class 'str'>, second : 5-<class 'str'>, third : 3-<class 'int'>

### datatype 변경

In [ ]:
# int(second)
second_value = int(second)
print(f'{second_value} / {type(second_value)}')

5 / <class 'int'>

In [ ]:
result = second_value + third
print(f'{result} - {type(result)}')

8 - <class 'int'>

In [ ]:
result_value = str(result)
print(f'{result_value} - {type(result_value)}')

8 - <class 'str'>

In [ ]:
int(first)

ValueError: invalid literal for int() with base 10: 'first_value'

### input()

In [ ]:
# input()
fourth = input()
print(f'{fourth} - {type(fourth)}')

345
345 - <class 'str'>

In [ ]:
# fourth + third
int(fourth) + third  # datatype casting

348

### toy quest
### 외부에서 숫자 두 개를 받아 덧셈 연산

In [ ]:
input_first = input('input_first')
input_second = input('input_second')
# print(f'{input_first} / {type(input_first)}')
# print(f'{input_second} / {type(input_second)}')
input_first_value = int(input_first)
input_second_value = int(input_second)
result = input_first_value + input_second_value
print(f'{result} = {input_first_value} + {input_second_value}')

input_first4
input_second5
9 = 4 + 5

### 사칙연산

In [ ]:
a = int(input('a = '))
b = int(input('b = '))
print(f'a + b = {a + b}, {type(a+b)}')
print(f'a - b = {a - b}, {type(a-b)}')
print(f'a * b = {a * b}, {type(a*b)}')
print(f'a / b = {a / b}, {type(a/b)}')
print(f'a % b = {a % b}, {type(a%b)}')

a = 7
b = 3
a + b = 10, <class 'int'>
a - b = 4, <class 'int'>
a * b = 21, <class 'int'>
a / b = 2.3333333333333335, <class 'float'>
a % b = 1, <class 'int'>

## booleans

### true or false

In [ ]:
first = True
second = False
# first = true   # error
# second = false  # error
first = bool(1)   # '0' 이외의 숫자는 True
second = bool(0)
print(f'first : {first} / {type(first)}, second : {second} / {type(second)}')

first : True / <class 'bool'>, second : False / <class 'bool'>

In [ ]:
not first, not second

(False, True)

### 부등호와 boolean

In [ ]:
5 < 7  # 5는 7보다 작다

True

In [ ]:
5 > 7, 5 < 7, 5 == 7, 5 <= 7, 5 >= 7, 5 != 7

(False, True, False, True, False, True)

In [ ]:
first = 5
second = 7
first > second, first < second, first == second, first <= second, first >= second, first != second

(False, True, False, True, False, True)

In [ ]:
not(first > second), not(first < second), not(first == second)

(True, False, True)

### and 와 or

In [ ]:
first = 5
second = 7
third = 10

if (first < second) and (second < third) :
  a = True
  print(a)

True